<div class="header">
  <div class="logo">
    <img ngSrc="assets/logo.png" alt="Cookingspiration Logo" height="859" width="870">
  </div>
  <a routerLink="/recettes-toutes" class="title">Cookingspiration</a>
  <div class="connection-inscription">
    <img ngSrc="assets/se_connecter.png" alt="S'inscrire/Se connecter" height="40" width="40">
    <a class="nav-link" routerLink="/connexion-inscription">Inscription / Connexion</a>
  </div>
</div>

<!-- Navigation Section -->
<nav class="subnav">
  <a routerLink="/recettes-toutes" routerLinkActive="active-link" class="subnav-link">Toutes les recettes</a>
  <a routerLink="/recettes-par-nom" routerLinkActive="active-link" class="subnav-link">Rechercher par nom</a>
  <a routerLink="/recettes-par-ingredient" routerLinkActive="active-link" class="subnav-link">Rechercher par ingrédient</a>
  <a routerLink="/recettes-random" routerLinkActive="active-link" class="subnav-link">Recette aléatoire</a>
  <a routerLink="/recettes-new" routerLinkActive="active-link" class="subnav-link">Ajouter une recette</a>
</nav>
