.container {
  margin: auto;
  padding: 40px;
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  width: 50%; /* Makes the search bar longer */
  padding: 12px;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.button-container {
  display: flex;
  gap: 15px; /* Adds spacing between buttons */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #722F37; /* Deep Plum */
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

a {
  color: #722F37; /* Deep Plum */
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.recipe-list {
  margin-top: 30px;
}

.recipe-card {
  border-top: 2px solid #F4A259; /* Golden Honey */
  padding: 15px;
  text-align: left;
}

h2 {
  margin-bottom: 5px;
  color: #722F37; /* Deep Plum */
}

/* Style for "Aucune recette trouvée" */
.no-recipes {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F4A259; /* Golden Honey */
  margin-top: 20px;
  text-align: center;
}
