<div class="container">
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="searchRecipes()"
      placeholder="Boeuf, Canard, Poireau, Pommes de terre,..."
    />
  </div>

  <ul *ngIf="filteredRecipes.length > 0">
    <div class="recipe-list">
      <div class="recipe-card" *ngFor="let recipe of filteredRecipes">
        <h2><a [routerLink]="['/recettes-detail', recipe.id]">{{ recipe.name }}</a></h2>
        <p><strong>Ingrédients:</strong> {{ recipe.ingredients.join(', ') }}</p>
        <p><strong>Temps:</strong> {{ recipe.time }} min</p>
        <p><strong>Difficulté:</strong> {{ recipe.difficulty }} / 5</p>
        <p><strong>Prix:</strong> {{ recipe.price }} / 3</p>
      </div>
    </div>
  </ul>

  <p *ngIf="filteredRecipes.length === 0" class="no-recipes">
    Aucune recette trouvée, essayez un autre ingrédient.
  </p>

</div>
